black
decaylanguage
httptools
kedro-mlflow
kedro-viz
libclang
matplotlib
phasespace
pip-chill
pylatexenc
python-dotenv
qiskit
qiskit-aer-gpu
qiskit-machine-learning
tensorflow-io-gcs-filesystem
torchdata
torchinfo
torchvision
tqdm
uvloop
zfit-physics
