autopep8
cd
cirq
clang
decaylanguage
httptools
ipykernel
kedro-viz
phasespace
pip-chill
pyarrow
python-dotenv
qiskit
qiskit-machine-learning
setup
torch-scatter
torchaudio
torchdata
torchvision
uvloop
websockets
zfit-physics
