autopep8==1.6.0
cd==1.1.0
cirq==0.14.1
clang==5.0
decaylanguage==0.14.1
httptools==0.1.2
ipykernel==6.11.0
kedro-viz==4.3.1
phasespace==1.6.0
pip-chill==1.0.1
pyarrow==7.0.0
python-dotenv==0.19.2
qiskit==0.35.0
qiskit-machine-learning==0.3.1
torch==1.11.0
torch-scatter==2.0.9
torchaudio==0.11.0+cpu
torchdata==0.3.0
torchvision==0.12.0+cpu
uvloop==0.16.0
websockets==8.1
zfit-physics==0.2.0
